            <!DOCTYPE html>
            <html lang="en">
            <head>
            <title>Doc</title>

            </head>
            <body>


                    {% if us %}
                    {% for q in us %}

                    <a  href="http://0.0.0.0:8080/check/appointment/user={{uid}}/app_id={{q}}">{{q}}</a>

                    <br><br>

                    
        
                    
                    {% endfor %}
                    {% endif %}
                    
                    


            </body>
            </html>