<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Doctor</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='dashboard.css') }}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel = "icon" href =  "https://firebasestorage.googleapis.com/v0/b/optician-sitva-gcp.appspot.com/o/app_logo%2Fos_mainlogo.svg?alt=media&token=6b36a7b2-1764-4d4f-a141-b5f87d5f1915" type = "image/svg+xml" sizes="any"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body >
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

<div class="wrapper">
    <div class="sidebar">
        <h1 style="text-align: center;"><img src="https://firebasestorage.googleapis.com/v0/b/optician-sitva-gcp.appspot.com/o/app_logo%2Fos_mainlogo.svg?alt=media&token=6b36a7b2-1764-4d4f-a141-b5f87d5f1915" alt="ID Proof!" width="60" height="60" /> </h1>

        <h2>Optician Sitva</h2>
        <ul>
            <li ><a href="/user" ><i class="fas fa-user"  ></i >User</a></li>
            <li style="background-color: #fff"><a href="/doctor" style="color: #007AFE"><i class="fas fa-user-md" style="color: #007AFE"></i>Doctor</a></li>
            <!-- <li><a href="#"><i class="fas fa-question-circle"></i>Customer Support</a></li> -->
            <li><a href="/order"><i class="fas fa-store-alt"></i>Orders</a></li>
            <li><a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>

        </ul>


</div>
</div>

<div class="container-fluid pt-3">
    <div class="row pt-5">
        <div class="offset-md-4 col-md-5">
                         <form action="/dAppoint/uid={{uid}}" method="post">

            <h3>Appointment Details</h3>

 {% if data %}

            <label for="dname">Doctor name: </label>
            <input type="text" id="dname" name="dname" value="{{ data['doctor_name'] }}" disabled><br><br>
            <label for="pname">Patient name: </label>
            <input type="text" id="pname" name="pname" value="{{ data['user_name'] }}" disabled><br><br>
            {% if date %}
            <label for="date">Date: </label>
            <input type="text" id="date" name="date" value="{{ date }}" disabled><br><br>
            {% endif %}
             <label for="fee">Fees:</label>
            <input type="text" id="fee" name="fee" value="{{ data['cost'] }}" disabled><br><br>
             <label for="amount">Settlement Status: </label>
             {% if data['settlement_status'] == '0' %}
            <input type="text" id="amount1" name="amount" value="Payment Pending" disabled><br><br>
            {% else %}
             <input type="text" id="amount" name="amount" value="Paid" disabled><br><br>
             {% endif %}

            <h3>Appointment Result</h3>
            <label for="not">Note from Doctor : </label>
            <input type="text" id="not" name="not" value="{{ data['note_from_doctor'] }}" disabled><br><br>
            <label>Test Report</label><br>
            <img src="{{ data['test_report_img']}}" alt="Invoice!" width="250" height="300" /><br><br>

            {% endif %}
            <label>Session Recording</label><br>
            <iframe width="560" height="315" src="https://firebasestorage.googleapis.com/v0/b/optician-sitva-gcp.appspot.com/o/doctor_recordings%2F7bMqysJ%20-%20Imgur.mp4?alt=media&token=8670d373-6976-4585-8c74-fe8526bc1e32" frameborder="0" allowfullscreen></iframe>
      </iframe>
    <input type="submit" style="" id="save" class="btn  btn-primary float-right"  value="Save" />

 </form>
             <input type="button" style="display:inline;left:100px;" id="edit" class="btn  btn-primary float-right" onclick="edit()" value="Edit" />

        </div>

</div>

</div>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

<script language="JavaScript">
function edit() {


document.getElementById("pname").disabled = false;
 document.getElementById("dname").disabled = false;
}

</script>



</body>